<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout-simple}">

<th:block layout:fragment="content">
    <div class="aw-error-panel">
        <h1 class="aw-error-panel__code">
            <i class="fa  fa-exclamation-triangle"></i> 405
        </h1>

        <h2 class="aw-error-panel__title">Operação não suportada</h2>

        <div class="aw-error-panel__description">
            <strong>Desculpe, operação não suportada.
                    Tente novamente.</strong>
            <br/><br/>
            <a href="javascript:history.back()" class="btn  btn-primary">Voltar para a página inicial</a>
        </div>
    </div>
</th:block>
</html>