<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-default}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/table-games.css}"/>
</head>
<body>
<section layout:fragment="content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>
                        Tabela de Jogos
                    </h1>
                </div>
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-primary" th:href="@{/games/new}" sec:authorize="hasRole('ROLE_NEW_GAME')">
                            <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo jogo</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-9 form-group">
                <div class="input-group">
                    <span class="input-group-addon">Jogos por página</span>
                    <select id="pageSizeSelect" class="form-control" style="width: 62px">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
            </div>

            <div class="col-xs-3 form-group">
                <div class="input-group">
                    <span class="input-group-addon hidden-xs">Total de jogos:</span>
                    <span class="input-group-addon" th:text="${totalOfRecords}"></span>
                </div>
            </div>
        </div>

        <div class="table-responsive" id="table-games" th:fragment="gamesTable">
            <table th:if="${not #lists.isEmpty(games)}" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
                <thead class="aw-table-header-solid">
                <tr>
                    <th class="table-games-col-details">#</th>
                    <th class="text-center">Título</th>
                    <th class="table-games-col-platform">Plataforma</th>
                    <th class="table-games-col-price">Preço unitário</th>
                    <th class="table-games-col-stock">Estoque (Un)</th>
                    <th class="table-games-col-actions">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${games}">
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn  btn-default" th:onclick="'loadGame(\''+${game.code}+'\')'">
                                Detalhes
                            </button>
                        </div>
                    </td>
                    <td class="text-center" th:text="${game.title}">GTA V</td>
                    <td class="text-center" th:text="${game.platform.description}">PlayStation 4</td>
                    <td class="text-center" th:text="|R$ ${{game.price}}|">R$ 99,00</td>
                    <td class="text-center" th:text="${game.stock}">690</td>
                    <td class="text-center">
                        <span class="label label-success">Ativo</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${#lists.isEmpty(games)}" class="alert  aw-alert-no-results" role="alert">
                A pesquisa não retornou nenhum jogo
            </div>
        </div>

        <!-- Paginação -->
        <div class="row" th:if="${not #lists.isEmpty(games)}">
            <div th:if="${games.totalPages != 1}" class="col-xs-12  col-md-11  aw-text-xs-center  pagination-centered">
                <ul class="pagination">
                    <li th:class="${games.number == 0} ? disabled">
                        <a class="pageLink" th:href="@{/games(size=${selectedPageSize}, page=1)}">&laquo;</a>
                    </li>
                    <li th:class="${games.number == 0} ? disabled">
                        <a class="pageLink" th:href="@{/games(size=${selectedPageSize}, page=${games.number})}">&larr;</a>
                    </li>
                    <li th:class="${games.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink" th:href="@{/games(size=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:class="${games.number + 1 == games.totalPages} ? disabled">
                        <a class="pageLink" th:href="@{/games(size=${selectedPageSize}, page=${games.number + 2})}">&rarr;</a>
                    </li>
                    <li th:class="${games.number + 1 == games.totalPages} ? disabled">
                        <a class="pageLink" th:href="@{/games(size=${selectedPageSize}, page=${games.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal  fade" id="showGameDetailsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="ModalLabel">Detalhes do jogo</h4>
                </div>
                <div class="modal-body" id="modalBodyGameDetails" th:fragment="gameDetails">
                    <table class="table table-bordered" id="table-game-details" th:if="${game}">
                        <tr>
                            <td>Título</td>
                            <td th:text="${game.title}">GTA V</td>
                        </tr>
                        <tr>
                            <td>Produtora</td>
                            <td th:text="${game.publisher}">Rockstar</td>
                        </tr>
                        <tr>
                            <td>Categoria</td>
                            <td th:text="#{|gameCategory.${game.category}}">Ação</td>
                        </tr>
                        <tr>
                            <td>Plataforma</td>
                            <td th:text="${game.platform.description}">PlayStation 4</td>
                        </tr>
                        <tr>
                            <td>Data de Lançamento</td>
                            <td th:text="${#dates.format(game.releaseDate, 'dd MMMM yyyy')}">11/10/2014</td>
                        </tr>
                        <tr>
                            <td>Tamanho (GB)</td>
                            <td th:text="${game.size}">42.5</td>
                        </tr>
                        <tr>
                            <td>Preço unitário</td>
                            <td th:text="|R$ ${{game.price}}|">R$ 99,90</td>
                        </tr>
                        <tr>
                            <td>Estoque (Un)</td>
                            <td th:text="${game.stock}">560</td>
                        </tr>
                        <tr>
                            <td>Mídia Formato</td>
                            <td th:text="#{|gameFormat.${game.format}}">Digital</td>
                        </tr>
                        <tr>
                            <td>Descrição</td>
                            <td th:text="${game.description}">Jogo de mundo aberto</td>
                        </tr>
                        <tr>
                            <td>Código interno</td>
                            <td th:text="${game.code}">15</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/table-games.js}"></script>
</th:block>

</body>
</html>